<h1>Pictures <!-- (<%= @pictures.length %>) --></h1>

<%- @pictures.each do |picture| %>
	<h2><%= picture.artist %></h2>
	<p><%= picture.title %></p>
 	 <p><img src= "<%= picture.url %>"/></p>
<%end%>